<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%- include('../partials/styling.ejs') %>
     <link rel="stylesheet" href="/css/routineEdit.css">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <title><%= routine.name %></title>
</head>
<body>
     <header>
          <h1><a id="title" href="/">GitFit</a></h1>
          <img src="/images/list.png" id="hamburger" alt="hamburger">
          <div class="hamburger-menu">
               <div class="menu">
                    <div class="menu-links">
                         <a class="button" href="/attributions">Attributions</a>
                         <a class="button" href="https://github.com/abszer">github</a>
                         <a class="button" href="https://www.linkedin.com/in/robertwhite3120/">Linkedin</a>
                         <a class="button" href="https://www.robwhite.dev">website</a>
                    </div>
               </div>
               <div class="menu-right"></div>
          </div>
          <% if(currentUser) { %>
               <form id="log-out" action="/session?_method=DELETE" method="POST">
                    <input class="button" type="submit" value="Log out">
               </form>
          <%}%>
     </header>
     <div class="container">
          <form autocomplete="off" id="exercise-values" action="/routine/<%= routine.id %>" method="POST">
               <h2><input type="text" name="name" value="<%= routine.name %>"></h2>
               <button class="button" type="button" id="add-btn">Add Exercise</button>
               <% for(let i = 0; i < routine.exercises.length; i++) {%>
                    <div class="input-row">
                         <select id="exercise-type<%= i %>">
                              <option value="arms">Arms</option>
                              <option value="legs">Legs</option>
                              <option value="core">Core</option>
                              <option value="cardio">Cardio</option>
                         </select>
                         <h4><input type="text" id="exercises-visible<%= i %>" value="<%= routine.exercises[i].slice(routine.exercises[i].indexOf('-') + 1, routine.exercises[i].length) %>"></h4>
                         <input type="hidden" id="exercises-hidden<%= i %>" name="exercises" value="<%= routine.exercises[i] %>">
                         
                         <!-- make this button remove by changing value to "" and css display to none. in show page check if value is empty and don't display -->
                         <button class="remove-btn" type="button">Remove</button>
                    </div>
               <%}%>
          </form>
          <form id="delete-form" action="/routine/<%=routine.id%>?_method=DELETE" method="POST">
          </form>

          <!-- make the delete button trigger a confirmation appear in future revision -->

          <button type="submit" class="button" id="del-routine-btn" form="delete-form">Delete Routine</button>
          <button id="submit-btn" type="button" class="button button-primary">Submit Changes</button>
     </div>


     <script src="/scripts/sideMenu.js"></script>
     <script>
          //ADD BUTTON FUNCTIONALITY
          $('#add-btn').on('click', (e) => {
               const $inputRowDiv = $('<div>').addClass('input-row')
               // options creation
               const $armsOption = $('<option>').html("Arms").val('arms')
               const $legsOption = $('<option>').html("Legs").val('legs')
               const $coreOption = $('<option>').html("Core").val('core')
               const $cardioOption = $('<option>').html("Cardio").val('cardio')
               const options = [$armsOption, $legsOption, $coreOption, $cardioOption]
               // inputs creation
               const $h4Container = $('<h4>') 
               const lastElementID = $('#exercise-values').children().length - 2;
               const $inputVisible = $('<input>').attr('type', 'text').val('New Exercise')
               $inputVisible.attr('id', `exercises-visible${lastElementID}`)
               const $inputHidden= $('<input>').attr('type', 'hidden')
               $inputHidden.attr('name', 'exercises')
               $inputHidden.attr('id', `exercises-hidden${lastElementID}`)
               const $removeButton = $('<button>').attr('type', 'button').html('Remove')
               $removeButton.addClass('remove-btn')

               
               const $exerciseTypeSelect = $('<select>').attr('id', 'exercise-type' + (lastElementID)) // give element unique id
               for(let i = 0; i < options.length; i++){                                                //append options to select element
                    $exerciseTypeSelect.append(options[i])
               }
               

               //append created elements
               $inputRowDiv.append($exerciseTypeSelect)
               $h4Container.html($inputVisible) // wrap the visible input with h4 tag
               $inputRowDiv.append($h4Container)
               $inputRowDiv.append($inputHidden)
               $inputRowDiv.append($removeButton)
               $('#exercise-values').append($inputRowDiv)
               
          })

          // SUBMIT BUTTON FUNCTIONALITY
          $('#submit-btn').on('click', (e) => {
               const uniqueInputs = $('#exercise-values').children().length - 2
               for(let i = 0; i < uniqueInputs; i++){
                    const userInput = $(`#exercises-visible${i}`).val()
                    const exerciseType = $(`#exercise-type${i}`).val()
                    const hiddenInput = $(`#exercises-hidden${i}`).val(exerciseType + "-" + userInput)
               }
               $('#exercise-values').submit();
               console.log(uniqueInputs)
          })


     </script>
</body>
</html>