<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%- include('../partials/styling.ejs') %>
     <link rel="stylesheet" href="/css/routineShow.css">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <title><%= routine.name %></title>
</head>
<body>
     <header>
          <h1><a id="title" href="/">GitFit</a></h1>
          <img src="/images/list.png" id="hamburger" alt="hamburger">
          <div class="hamburger-menu">
               <div class="menu">
                    <div class="menu-links">
                         <a class="button" href="/attributions">Attributions</a>
                         <a class="button" href="https://github.com/abszer">github</a>
                         <a class="button" href="https://www.linkedin.com/in/robertwhite3120/">Linkedin</a>
                         <a class="button" href="https://www.robwhite.dev">website</a>
                    </div>
               </div>
               <div class="menu-right"></div>
          </div>
          <% if(currentUser) { %>
               <form id="log-out" action="/session?_method=DELETE" method="POST">
                    <input class="button" type="submit" value="Log out">
               </form>
          <%}%>
     </header>
     <div class="container">
          <h2><%= routine.name %></h2>
          <a href="/routine/<%= routine.id %>/edit">Edit Routine</a>
          <form action="/routine/finish" method="POST">
               <ul>
                         <% for(let i = 0; i < routine.exercises.length; i++) {%>
                              <% const exerciseName = routine.exercises[i].slice(routine.exercises[i].indexOf('-') + 1, routine.exercises[i].length) %>
                              <li><h4><%= exerciseName %></h4></li>
                              <div class="reps-weight-container" id="div<%= i %>">
                                   <div class="set" id="<%= routine.exercises[i] %>">
                                        <% if(routine.exercises[i].slice(0, routine.exercises[i].indexOf('-')) === "cardio") {%>
                                             <h5>Duration:</h5>
                                             <input id="<%= routine.exercises[i] %>" name="duration-<%= exerciseName %>" type="number">
                                        <%} else {%>     
                                        <h5 class=<%= exerciseName %>>Reps:</h5>
                                        <input name="reps-<%= exerciseName %>" type="number"> 
                                        <h5>Weight:</h5>
                                        <input name="weight-<%= exerciseName %>" type="number">
                                        <% } %>
                                        <button type="button" class="new-set-btn" id="<%= i %>">Add Set</button>
                                   </div>     
                              </div> 
                         <%}%>
               </ul><br>
               <input class="button button-primary" type="submit" value="Finish Routine">
          </form>
     </div>


     <script src="/scripts/sideMenu.js"></script>
     <script>
          $('.new-set-btn').on('click', (e) => {
               const btnId = parseInt($(e.target).attr('id')); //this value is one less than the child index for the div child of <ul>
               const $setContainer = $(`#div${btnId}`);
               const $currentDiv = $(`#div${btnId}`).children().eq(0)
               const $currentDivId = $currentDiv.attr('id')
               const $setDiv = $('<div>').addClass('set')
               const exerciseType = $currentDivId.slice(0, $currentDivId.indexOf('-'))
               const exerciseName = $currentDivId.slice($currentDivId.indexOf('-') + 1, $currentDivId.length)
               
               // Don't add
               let $addSetBtn = $('<button>')
               $addSetBtn.attr('type', 'button')
               $addSetBtn.addClass('new-set-btn')
               $addSetBtn.attr('id', $(e.target).attr('id'))
               
               if(exerciseType === "cardio"){
                    const $durationH5 = $('<h5>').text('Duration:');
                    const $durationInput = $('<input>').attr('name', "duration-" + exerciseName)
                    $durationInput.attr('type', 'number')

                    $setDiv.append($durationH5)
                    $setDiv.append($durationInput)
               }else{
                    const $repsH5 = $('<h5>').text('Reps:');
                    const $weightH5 = $('<h5>').text('Weight:');
                    const $repInput = $('<input>').attr('name', 'reps-' + exerciseName);
                    $repInput.attr('type', 'number')
                    const $weightInput =$('<input>').attr('name', 'weight-' + exerciseName);
                    $weightInput.attr('type', 'number')

                    $setDiv.append($repsH5)
                    $setDiv.append($repInput)
                    $setDiv.append($weightH5)
                    $setDiv.append($weightInput)
               }

               
               console.log(exerciseName)
               console.log(exerciseType)

               $setContainer.append($setDiv)
               
          })
     </script>
</body>
</html>